ForkEat/.idea
*/*/obj
*/*/bin
ForkEat/ForkEat.sln.DotSettings.user
ForkEat/ForkEat.Web/Properties/launchSettings.json
ForkEat/.sonarqube
ForkEat/.vs
ForkEat/ForkEat.MassImporter/RAW_recipes.csv
*.csv
