version: '2.1'
services:

 forkeat-server:
  image: thomaslacaze/forkeat-server:linux-amd64
  container_name: forkeat-server
  user: 1000:1000
  environment: 
    - GUID=${GUID}
    - UUID=${UUID}
    - TZ={TZ}
    - DATABASE_URL=${DATABASE_URL}
    - JWT_SECRET=${JWT_SECRET}
  ports: 
    - 80:80
    - 443:443
  depends_on: 
    - postgres
  network: 
    - external
    - internal

 postgres:
  image: postgres:13
  restart: always
  user: 1000:1000
  container_name: postgres
  environment:
    - GUID=${GUID}
    - UUID=${UUID}
    - TZ={TZ}
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    - POSTGRES_USER=${POSTGRES_USER}
  volumes: 
    - ./postgresql:/var/lib/postgresql/data
  networks: 
    - internal
  depends_on: 
    - traefik

networks:
  internal:
    external: false
  external:
    external: true